main{
   background-color: #222224;
}
.catalog{
   font-family: 'Roboto', sans-serif;
   padding: 100px 0 0 0;
   width: 80%;
   margin: 0 auto;
   &__title{
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      text-align: left;
      color: #FFFFFF;
   }
   .product{
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #FFFFFF;
      padding: 55px 0 55px 0;

      &__img{
         width: 250px;
         height: 250px;
         margin: 0 50px 0 0;
         transition: all 0.5s;
         &:hover{
            width: 255px;
            height: 255px;;
         }
      }
      &__info{
         display: flex; 
      }
      &__text{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
      }
      .info__title{
         font-size: 20px;
         line-height: 24px;
         letter-spacing: 0.02em;
         color: #FFFFFF;
         text-align: left;
      }
      .characteristics{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         &__item{
            color: #FFFFFF;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            padding: 20px 0 0 0;
         }
      }
      &__order{
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         &_mobile{
            display: none;
         }
      }
      &__price{
         font-weight: 700;
         font-size: 32px;
         line-height: 38px;
         letter-spacing: 0.02em;
         color: #FFFFFF;
         text-align: right;
      }
      &__button{
         width: 180px;
         height: 55px;
         background: #ECECEC;
         border-radius: 6px;
         color: #000000;
         font-size: 20px;
         letter-spacing: 1px;
         box-sizing: border-box;
         display: flex;
         align-items: center;
         justify-content: center;
         &:hover{
            background-color: rgb(186, 186, 186);
         }
      }
   }
}

@media screen and (max-width: 1200px){
   .catalog{
      &__title{
         font-size: 36px;
      }
      .product{
         &__img{
            width: 250px;
            margin: 0 20px 0 0;
         }
         .info__title{
            font-size: 18px;
         }
         .characteristics{
            &__item{
               font-size: 14px;
            }
         }
         &__price{
            font-size: 26px;
         }
         &__button{
            width: 130px;
            height: 45px;
            font-size: 16px;
         }
      }
   }
}

@media screen and (max-width: 900px){
   .catalog{
      width: 90%;
      &__title{
         font-size: 32px;
      }
      .product{
         &__img{
            width: 200px;
            height: 200px;
            margin: 0 20px 0 0;
         }
         .info__title{
            font-size: 16px;
         }
         .characteristics{
            &__item{
               font-size: 14px;
               padding: 10px 0 0 0;
            }
         }
         &__price{
            font-size: 22px;
         }
         &__button{
            width: 100px;
            height: 35px;
            font-size: 14px;
         }
      }
   }
}

@media screen and (max-width: 700px){
   .catalog{
      &__title{
         font-size: 28px;
      }
      .product{
         .info__title{
            font-size: 14px;
            line-height: 18px;
         }
         .characteristics{
            display: none;
            &__item{
               color: #FFFFFF;
               font-size: 14px;
            }
         }
         &__order{
            display: none;
            &_mobile{
               display: flex;
               flex-direction: column;
               justify-content: space-between;
               color: #FFFFFF;
               align-items: flex-end;
            }
         }
         &__price{
            &_mobile{
               font-weight: 700;
               font-size: 16px;
               line-height: 16px;
               letter-spacing: 0.02em;
               margin: 0 0 10px 0;
            }
         }
         &__button{
            &_mobile{
               width: 100px;
               height: 30px;
               background: #ECECEC;
               border-radius: 6px;
               color: #000000;
               font-size: 14px;
               letter-spacing: 1px;
               box-sizing: border-box;
               display: flex;
               align-items: center;
               justify-content: center;
            }
         }
      }
   }
}

@media screen and (max-width: 500px){
   .catalog{
      &__title{
         font-size: 24px;
      }
      .product{
         &__img{
            width: 150px;
            height: 150px;
            margin: 0 10px 0 0;
         }
         .info__title{
            font-size: 12px;
         }
         
         &__price{
            &_mobile{
               line-height: 14px;
            }
         }
         // &__button{
         //    &_mobile{
         //       width: 100px;
         //       height: 30px;
         //       background: #ECECEC;
         //       border-radius: 6px;
         //       color: #000000;
         //       font-size: 14px;
         //       letter-spacing: 1px;
         //       box-sizing: border-box;
         //       display: flex;
         //       align-items: center;
         //       justify-content: center;
         //    }
         // }
      }
   }
}